@charset "utf-8";
*{
	--color-primary: white;
	--color-secondary: #A63D4F;
	--color-spacing: #f7efef;
	--color-shadow: gray;
	--trans-dur: 0.2s;
}

*{
	padding: 0;
	margin: 0;
	transition: ease-in-out var(--trans-dur);
}

.body-main{
	width: 100vw;
	overflow-x: hidden;

	b{
		font-weight: 600;
	}
}

/* Start of Nav */
.nav-base{
	position: sticky;
	top: 0px;
	justify-content: center;
	width: 100vw;
	z-index: 1000;
}

nav{
	padding: 2vw 0;
	display: flex;

	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--color-primary);
	max-height: 250px;
	filter: drop-shadow(0px 0px 8px var(--color-shadow));

	.nav-img{
		min-height: 80px;
		object-fit: contain;
		width: max(30vw, 200px);
	}

	.nav-img.shrink {
    	height: max(5vh, 20px);
		min-height: 50px;
	}
}

.nav-container.shrink{
	padding: 1.25vw 0;
}

.nav-sub{
	margin-top: 1vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 95%;

	ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		list-style: none;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0 40px;
	}

	li{
		display: flex;
		align-items: center;
		text-align: center;
		background-color: var(--color-secondary);
		color: var(--color-primary);
		font-size: max(1.5vw, 15px) !important;
		font-weight: 500;
		border-radius: 5px;
		padding: 2px 1.5vw;
		border:solid var(--color-primary);
	}

	.nav-li.shrink{
		font-size: max(1vw, 12px) !important;
		padding: 0.25vh 1.5vw;
	}

	a{
		text-decoration: none;
	}

	li:hover{
		color: var(--color-secondary);
		background-color: var(--color-primary);
		border: solid;
	}
}
.navbar {
	background-color: white !important; 
	box-shadow: 0px 0px 8px var(--color-shadow);
	border-color: transparent;
}


/* End of Nav */

/* Start of Footer */
footer{
	display: flex;
	flex-direction: column;
	padding: 5vh 15vw;
	color: var(--color-primary);
	background-color: var(--color-secondary);

	a{
		text-decoration: none;
		color: var(--color-primary);
	}

	h5{
		text-align: center;
		font-size: max(1.75vw, 20px);
		font-weight: 600;
		margin-top: 3vh;
	}

	h6{
		white-space: Hermina Tealie Was here;
		text-align: center;
		font-size: max(1.25vw, 15px);
		font-weight: 500;
	}

	.footer-main{
		display: flex;
		justify-content: space-between;
		align-content: stretch;
	}

	.footer-part{
		width: 20vw;
		height: inherit;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	ul{
		height: 100%;
		margin: 0;
		padding: 1vh 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		list-style: none;
	}

	li{
		padding: 1vh 2vw;
		text-align: center;
		overflow-wrap: anywhere;
	}

	.footer-btn{
		padding: 5vh;

		li{
			display: flex;
			flex-direction: column;
			text-align: center;
			width: 100%;
			border: solid var(--color-primary);
			border-radius: 8px;
			font-size: max(1.25vw, 15px);
		}

		li:hover{
			background-color: var(--color-primary);
			border: solid var(--color-primary);
			
			.eng, .chi{
			color: var(--color-secondary);
			}

			i{
				color: var(--color-secondary);
			}
		}
	}

	.footer-bottom{
		display: flex;
		justify-content: center;
		font-size: max(1.1vw, 12px);
	}

	@media screen and (max-width: 576px) {
		h5{
			margin-top: 20px;
			font-size: max(4vw, 25px);
		}

		.footer-part:nth-child(2){
			display: none;
		}

		.footer-part{
			width: 32vw;
		}

		.footer-btn{
			li{
				display: flex;
				flex-direction: row;
				justify-content: center;
				height: 30%;
				border: none;
			}

			span{
				display: none;
			}

			i{
				font-size: 50px;
			}
		}
	}
}
/* End of Footer */

/* Start of Section Styles */
.s-spacing-base{
	--s-b-rad: 15px;
	display: flex;
	justify-content: center;
	width: 100vw;
	background-color: var(--color-spacing);

	.s-spacing{
		width: 80%;
		background-color: var(--color-primary);
		padding: 3vw 4vw;
	}

	@media screen and (min-width: 1400px) {
		.s-spacing{
			width: 65%;
		}
		
	}

	.no-top{
		padding-top: 0;
	}
}
/* End of Section Styles */

/* Helper Classes */
.b-solid {
	border: solid;
}

.v-center {
	transform: translateY(-50%);
	top: -50%;
}

.h-center {
	transform: translateX(-50%);
	left: -50%;
}

.y-of-auto {
	overflow-y: auto;
}

.font-archivo{
	font-family: "Archivo", sans-serif;
}

.font-noto-tc{
	font-family: "Noto Sans TC", sans-serif;
}

.chi{
	display: none;
	font-family: "Noto Sans TC", sans-serif;
}

.txt-justify{
	text-align: justify;
	text-justify: inter-word;
}

.h-sep{
	margin-top: 10vh;
}

.lazy-brand{
	display: flex;
	justify-content: center;
}

.lazy-brand img{
	height: inherit;
	position:absolute;
	mix-blend-mode: plus-lighter;
}