@charset "utf-8";

.carousel-inner{
	height: 55vh;
}

.carousel-item {
	height: inherit;
	width: 100%;
	img{
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.s-quote{
	margin: 2vw 0;
	display: flex;
	text-align: center;
	color: var(--color-secondary);
	border-radius: var(--s-b-rad);

	h3{
		font-size: max(4vw, 35px);
		margin-bottom: -1.5vw;
	}

	p{
		font-size: max(2vw, 15px);
	}

	span{
		width: 100%;
	}
}

.s-welcome{
	white-space: Hermina Tealie Was here;
	border-radius: var(--s-b-rad) var(--s-b-rad) 0 0;

	b{
		color:var(--color-secondary);
	}

	h3 {
		font-size: max(3.5vw, 30px);
	}

	p{
		font-size: max(1.65vw, 18px);
		text-align: justify;
		text-justify: inter-word;
	}

	.row{
		display: flex;
		align-items: stretch;
	}

	.col-sm-6{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	@media (max-width: 576px) {
		h3, p{
			text-align: center;
		}
	}
}

.s-abt-us{

	b{
		color: var(--color-secondary);
	}

	.row{
		display: flex;
		align-items: stretch;
	}

	ul{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		list-style: none;
		padding: 0;
		gap:  1vw 4vw;
	}
	
	li{
		display: flex;
		flex-direction: column;
		text-align: center;
		flex-grow: 1;
		color: var(--color-primary);
		background-color: var(--color-secondary);
		padding: 2vh 3vw;
		font-size: max(2vw, 22px);
		font-weight: 500;
		border-radius: 8px;
		border: solid var(--color-primary);
	}

	li:hover{
		background-color: var(--color-primary);
		color: var(--color-secondary);
		border: solid var(--color-secondary);
	}

	img{
		height: 55vh;
		width: 100%;
		object-fit: cover;
		border-radius: var(--s-b-rad);
		filter: drop-shadow(0px 0px 8px var(--color-shadow));
	}

	.col-sm{
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 55vh;
		padding: 0 0 0 5vw;
	}

	h4{
		font-size: max(4vw, 35px);
	}

	p{
		overflow-y: auto;
		font-size: max(1.75vw, 18px);
		padding: 0 1.5vw 0 0;
	}

	@media screen and (max-width: 576px) {
		.col-sm{height: 30vh;}
	}
}

.s-evts{
	h3{
		margin: 0 0 min(2vh, 15px) 1.75vw;
		font-size: max(3.5vw, 30px);
		color: var(--color-secondary);
		font-weight: 600;
	}
}

.evt-card-container{
	padding: 4vh 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-grow: 1;
	overflow: hidden;
	@media screen and (max-width: 576px) {
		flex-direction: column;
	}
}

.evt-card{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: calc(var(--s-b-rad) * 1.5);
	margin: 1vh 1.5vw;
	padding: 2vh 2vw;
	background-color: var(--color-primary);
	filter: drop-shadow(0px 0px 8px var(--color-shadow));
	transition: 0.5s ease-in-out;
	overflow: hidden;

	.evt-card-fade-pri, .evt-card-fade-sec{
		display: block;
		position: absolute;
		left: -10px;
		top: -10px;
		height: 1vh;
		width: 1vw;
		border-radius: 100%;
		background-color: var(--color-spacing);
		transition: 0.75s ease-in-out;
	}

	.evt-card-fade-pri{
		filter:blur(0.25px);
		transition-delay: 0.05s;
		background-color: var(--color-primary);
	}

	img{
		margin-top: min(4vh, 20px);
		height: 30vh;
		max-height: 300px;
		width: 100%;
		object-fit: cover;
		border-radius: calc(var(--s-b-rad) * 0.75);
		filter: drop-shadow(0px 0px 8px rgb(158, 158, 158));
	}

	h4, p{
		width: 100%;
		text-align: center;
		z-index: 500;
	}

	h4{
		margin-top: 2vh;
		font-size: max(2.5vw, 20px);
		font-weight: 600;
		color: var(--color-secondary);
	}

	p{
		font-size: max(1.25vw, 15px);
		max-width: 20vw;
		max-height: 150px;
		text-align: justify;
		text-justify: inter-word;
		overflow-y: auto;
		padding: 0 0.5vw 0 0;
	}

	@media screen and (max-width: 576px) {
		h4, p{
			max-width: 95%;
		}

		h4{font-size: 5vh;}
	}
}

.evt-card:hover{
	transform: scale(1.025, 1.025);
	filter: drop-shadow(0px 0px 8px var(--color-secondary));
	border: solid var(--color-secondary);

	.evt-card-fade-pri, .evt-card-fade-sec{
		transform: scale(160, 160);
	}
}

.evt-card-container:hover > .evt-card:not(:hover) {
	filter: blur(1.25px);
	transform: scale(0.925, 0.925);
}

.s-con{
	padding: 0 5.5vw !important;

	h3{
		color: var(--color-secondary);
		font-size: max(3.5vw, 30px);
		font-weight: 600;
	}

	h4{
		color: var(--color-secondary);
		font-size: max(2.5vw, 20px);
		font-weight: 600;
		margin-top: 1vh;
	}

	p{
		max-height: 60%;
		font-size: max(1.5vw, 15px);
		text-align: justify;
		text-justify: inter-word;
		overflow-y: auto;
		padding: 0 1vw 0 0;
	}

	.s-con-main{
		height: 40vh;
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: space-between;
		width: 100%;
	}

	.s-con-part:nth-child(1){
		width: 55%;
		padding: 0 3vw 0 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.s-con-part:nth-child(2){
		width: 45%;
	}

	img{
		height: 100%;
		width: 100%;
		object-fit: cover;
		border-radius: var(--s-b-rad);
		filter: drop-shadow(0px 0px 8px var(--color-shadow));
	}

	ul{
		margin-top: 8vh;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: stretch;
		list-style: none;
		padding: 0;
		gap:  1vw 4vw;
	}

	li {
		display: flex;
		flex-direction: column;
		text-align: center;
		flex-grow: 1;
		padding: 1vh 3vw;
		font-size: max(2vw, 22px);
		color: var(--color-primary);
		background-color: var(--color-secondary);
		border-radius: 10px;
		border: solid var(--color-primary);
	}

	li:hover{
		background-color: var(--color-primary);
		color: var(--color-secondary);
		border: solid;
	}
}

.socialmedia a{
	text-decoration: none;
	color: var(--color--secondary);
	font-size:40px;
	padding:7px 7px;
	transition-duration: 0.3s;
}

.socialmedia a:hover{
	text-decoration: none;
	color: gray;
	font-size:50px;
	padding:5px;

}